{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
    {#{{ form_start(form, { 'attr': {'id':'registerForm', 'novalidate':''} }) }}#}

    {#<div class="row">#}
        {#<div class="small-6 columns form_margin">#}

            {#<div class="row">#}
                {#<div class="columns small-6">#}
                    {#{{ form_label(form) }}#}
                {#</div>#}
                {#<div class="columns small-6">#}
                    {#{{ form_widget(form) }}#}
                    {#{{ form_errors(form) }}#}
                {#</div>#}
            {#</div>#}
        {#</div></div>#}
    {#{{ form_end(form) }}#}
    {{ form_start(form, { 'attr': {'id':'registerForm', 'novalidate':''} }) }}

    <div class="row">
        <div class="small-6 columns form_margin">

            <div class="row">
                <div class="columns small-6">
                    {{ form_label(form.security.email) }}
                </div>
                <div class="columns small-6">
                    {{ form_widget(form.security.email) }}
                    {{ form_errors(form.security.email) }}
                </div>
            </div>
        </div></div>
    {{ form_end(form) }}
{% endblock %}
